.main-container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
    color: black;
    background-color: transparent;
    border-radius: 0px; /* Ensure no border radius */
}

@media (max-width: 768px) {
    .main-container {
        padding: 20px;
    }
}
