.section-wrapper {
    padding: 25px;
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
}

.section-header h4 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

/* Flexbox for event items */
.UpcomingEvents-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Each event item box */
.UpcomingEvents-item {
    flex: 1 0 23%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.UpcomingEvents-item-image {
    width: 100%;
    border-radius: 12px;
}

.UpcomingEvents-item-content {
    margin-top: 10px;
    color: black;
}

.UpcomingEvents-item-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(76, 74, 74);
}

/* New styling for the button container */
.UpcomingEvents-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.more-events-button {
    padding: 12px 24px;
    background-color: #12CB44;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.more-events-button:hover {
    background-color: #0da036;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .UpcomingEvents-item {
        flex: 1 0 45%;
    }
}

@media (max-width: 480px) {
    .UpcomingEvents-item {
        flex: 1 0 100%;
    }
}
